In [1]:
import sys
sys.path.append('./src')

import io_utils
import metrics

df = io_utils.get_df()

df.info()

#df.head()

day
9     156486.43
4     142734.92
23    137403.39
7     134633.50
25    130511.88
21    129325.48
10    128955.11
26    128417.60
17    128181.58
16    127302.09
27    126773.85
1     125049.07
3     118576.22
29    116672.81
18    113459.03
13    113412.81
6     112371.59
24    109436.14
28    108897.74
19    108571.86
8     107904.44
22    105843.54
20    104509.51
15     97686.86
2      97440.77
12     94719.45
5      86780.50
14     86106.95
11     84378.76
30     81256.48
31     58966.87
Name: revenue, dtype: float64
month
1    664083.32
5    632165.16
6    590259.89
4    580194.83
2    548462.03
3    487602.00
Name: revenue, dtype: float64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   order_id  2500 non-null   int64
 1   date      2500 non-null   object
 2   city      2500 non-null   object
 3   category  2500 non-null   object
 4   price     2500 non-null   float64
 5   units     2500 non-null   int64
 6   revenue   2500 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 136.8+ KB

### 1. Vad säljer vi? – vilka kategorier driver mest intäkt?

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv("data/ecommerce_sales.csv")
print("Vad vi säljer:")
print(df["category"].unique())

category_revenue = df.groupby("category")["revenue"].sum().sort_values(ascending=False)
print("\nIntäkt per kategori:")
print(category_revenue)

category_revenue.plot(kind="bar", title="Revenue per Category")

plt.xlabel("Category")
plt.ylabel("Revenue")

plt.grid(True, linestyle='-', linewidth=0.5)

plt.tight_layout()
plt.show()

### 2. Var säljer vi? – vilka städer står för störst intäkt?
Stockholm, Göteborg respektive Malmö står för störst intakt

In [ ]:
from metrics import units_per_city, top_cities
top_cities

In [ ]:
units_per_city

### 3. När säljer vi? – finns tidsmönster/säsong i försäljningen?

### 4. Hur ser en typisk order ut? – AOV (Average Order Value) och spridning.

In [5]:

#AOV = df["revenue"].mean()
#AOV_std = df["revenue"].std()
#AOV_min = df["revenue"].min()
#AOV_max = df["revenue"].max()


#print(f"Genomsnittligt ordervärde: {AOV}kr")
#print(f"Standardavvikelse för ordervärdet: {AOV_std}kr")
#print(f"Lägsta ordervärdet: {AOV_min}kr")
#print(f"Högsta ordervärdet: {AOV_max}kr")

#order_value = df["revenue"].agg(["mean", "std", "min", "max"])
#print(order_value)

order_value = (
    df["revenue"]
    .agg(["mean", "std", "min", "max"])
    .rename({"mean": "Genomsnittligt ordervärde:",
             "std": "Standardavvikelse:",
             "min": "Lägsta ordervärdet:",
             "max": "Högsta ordervärdet:"
             })
)

order_value.columns = ["Revenue (kr)"] #dubbelkolla vad jag ska döpa det till- om jag ens ska ha namn
print(order_value)

Genomsnittligt ordervärde:    1401.106892
Standardavvikelse:            1166.944967
Lägsta ordervärdet:             50.000000
Högsta ordervärdet:           9192.600000
Name: revenue, dtype: float64

### 5. Topp-listor – topp-3 kategorier efter intäkt.

### 6. Eventuella avvikelser – något oväntat mönster som sticker ut?

### Rekommendationer:

Ni ska avsluta rapporten med 2–3 korta rekommendationer (punktlista) baserat på era resultat, t.ex. “Satsa på kategori X i stad Y under månad Z”.