In [1]:
import sys
sys.path.append('./src')

import io_utils
import metrics

df = io_utils.get_df()

df.info()

#df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   order_id  2500 non-null   int64
 1   date      2500 non-null   object
 2   city      2500 non-null   object
 3   category  2500 non-null   object
 4   price     2500 non-null   float64
 5   units     2500 non-null   int64
 6   revenue   2500 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 136.8+ KB

### 1. Vad säljer vi? – vilka kategorier driver mest intäkt?

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv("data/ecommerce_sales.csv")
print("Unika produkter:")
print(df["category"].unique())

category_revenue = df.groupby("category")["revenue"].sum().sort_values(ascending=False)
print("\nIntäkt per kategori:")
print(category_revenue)

category_revenue.plot(kind="bar", title="Revenue per Category")

plt.xlabel("Category")
plt.ylabel("Revenue")

plt.grid(True, linestyle='-', linewidth=0.5)

plt.tight_layout()
plt.show()

### 2. Var säljer vi? – vilka städer står för störst intäkt?
Stockholm, Göteborg respektive Malmö står för störst intakt

In [2]:
from metrics import units_per_city, top_cities
top_cities

              revenue
city
Stockholm  1227201.94
Göteborg    859019.65
Malmö       567926.32
Uppsala     551478.42
Västerås    297140.90

In [3]:
units_per_city

category   Beauty  Clothing  Electronics  Home  Sports  Toys
city
Göteborg      162       338          425   364     341   158
Malmö          95       228          313   215     247   113
Stockholm     223       574          599   419     539   265
Uppsala        99       303          293   171     178   121
Västerås       80       212          123   109      96    60

### 3. När säljer vi? – finns tidsmönster/säsong i försäljningen?

### 4. Hur ser en typisk order ut? – AOV (Average Order Value) och spridning.

### 5. Topp-listor – topp-3 kategorier efter intäkt.

### 6. Eventuella avvikelser – något oväntat mönster som sticker ut?

### Rekommendationer:

Ni ska avsluta rapporten med 2–3 korta rekommendationer (punktlista) baserat på era resultat, t.ex. “Satsa på kategori X i stad Y under månad Z”.